html {
    scroll-behavior: smooth;
}

h1 {
    font-family: "Montserrat-Regular";
    font-size: 2.5rem;
    line-height: 1.5;
    color: #2660A4;
}

#class-block {
    background-color: #92c4d4;
    padding: 5px;
    border-radius: 15px;
    color: #fff;
    text-align: left;
    padding: 5%;
}

.box {
    box-sizing: border-box;
    border: 5px solid transparent;
    background-clip: padding-box;
}

.blur-rule {
    height: 1px;
    width: 100%;
    background-color: #dedede;
    margin: 20px 0;
    display: block;

    -webkit-box-shadow: 0 0 4px 0 #666;
    -moz-box-shadow: 0 0 4px 0 #666;
    box-shadow: 0 0 4px 0 #666;
}

.btn {
    background-color: #2660A4;
    border-color: #2660A4;
}

.btn:hover {
    background-color: #F19953;
    border-color: #F19953;
}

/* NavBar */

.navbar {
    padding: 0 0 5rem;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #2660A4;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: lighter;
}


/* Title */

.title-img {
    width: 60%;
    margin-left: 15%;
    margin-right: 15%;
}

.title-container {
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.title-button {
    margin: 5% 3% 5% 0;
}

.title-text {
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Class block */

.class-block {
    padding: 5% 0;
}

/* About section */

.img-about {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.about-coach {
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Reviews block */

.reviews-block {
    padding: 5% 0;
    height: 300px;
}